{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'DigitalPlatform/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3..4.1.js"></script>

    <title>Digital Consulting - Group XX</title>
</head>

<body>
<section>
    <div class="">
        <div id="sidebar-wrapper" class="sidebar-toggle">
            <ul class="sidebar-nav">
                <div class="row justify-content-center" id="logo">
                    <a href="#"><img width="180px" height="180"
                                     src="{% static 'DigitalPlatform/images/logo.png' %}"/></a>
                </div>
                <li>
                    <a href="{% url 'index' %}">Página Inicial</a>
                </li>
                <li>
                    <a href="{% url 'index' %}">Sair</a>
                </li>
            </ul>
        </div>
    </div>

    {% block content %}{% endblock content %}
</section>
</body>
</html>