{% extends "default_page.html" %}
{% load static %}

{% block content %}
    <main>
        <div class="row">
            <div class="col-2">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>Lista de Problemas</th>
                        <th>Soluções</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for solution in solutions %}
                        <tr>
                            <th>
                                {{ solution.problem }}
                            </th>

                            {% for solution in solution.solutions %}

                                <th>
                                    {{ solution }}
                                </th>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="col-2">
            {% for solution in solutions %}
                <a href="../ADS-Solutions-And-Results/ADS/data/ADS/{{ solution.problem }}/VAR0.tsv" download>
                    <button class="btn btn-primary btn-lg"> Descarregar</button>
                </a>
            {% endfor %}
        </div>
    </main>
{% endblock content %}